In [2]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Obtaining dependency information for mysql-connector-python from https://files.pythonhosted.org/packages/e2/18/42761250be6ad43a23edb7af85b9720ba8aa1a652036ab4854724d21f628/mysql_connector_python-9.2.0-cp311-cp311-win_amd64.whl.metadata
  Downloading mysql_connector_python-9.2.0-cp311-cp311-win_amd64.whl.metadata (6.2 kB)
Downloading mysql_connector_python-9.2.0-cp311-cp311-win_amd64.whl (16.1 MB)
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.1 MB 162.5 kB/s eta 0:01:39
   ---------------------------------------- 0.0/16.1 MB 186.2 kB/s eta 0:01:27
   ---------------------------------------- 0.0/16.1 MB 217.9 kB/s eta 0:01:14
   ---------------------------------------- 0.1/16.1 MB 280.5 kB/s eta 0:00:58
   ---------------------------------------- 0.2/16.1 MB 615.9 kB/s eta 0:00:26
   - -------------------------------------- 0.4/16.1 MB 1.3 MB/s eta 0:00:12
   -- ------------------------------------- 1.0/16.1 MB 2.8 MB/s eta 0:00:06
   ---- ----------------------------------- 1.8/16.1 MB 4.3 MB/s eta 0:00:04
   --------- ------------------------------ 3.6/16.1 MB 7.5 MB/s eta 0:00:02
   ------------- -------------------------- 5.3/16.1 MB 9.6 MB/s eta 0:00:02
   ---------------- ----------------------- 6.5/16.1 MB 10.9 MB/s eta 0:00:01
   --------------------- ------------------ 8.6/16.1 MB 13.0 MB/s eta 0:00:01
   ------------------------- -------------- 10.4/16.1 MB 24.2 MB/s eta 0:00:01
   ---------------------------- ----------- 11.4/16.1 MB 29.7 MB/s eta 0:00:01
   ---------------------------- ----------- 11.6/16.1 MB 26.2 MB/s eta 0:00:01
   ----------------------------- ---------- 11.7/16.1 MB 24.2 MB/s eta 0:00:01
   ----------------------------- ---------- 11.9/16.1 MB 23.4 MB/s eta 0:00:01
   ----------------------------- ---------- 12.1/16.1 MB 21.8 MB/s eta 0:00:01
   ------------------------------ --------- 12.3/16.1 MB 20.5 MB/s eta 0:00:01
   -------------------------------- ------- 12.9/16.1 MB 17.7 MB/s eta 0:00:01
   --------------------------------- ------ 13.3/16.1 MB 16.8 MB/s eta 0:00:01
   ---------------------------------- ----- 13.8/16.1 MB 16.0 MB/s eta 0:00:01
   ----------------------------------- ---- 14.2/16.1 MB 16.0 MB/s eta 0:00:01
   ------------------------------------ --- 14.5/16.1 MB 14.9 MB/s eta 0:00:01
   ------------------------------------ --- 14.8/16.1 MB 13.6 MB/s eta 0:00:01
   ------------------------------------- -- 15.3/16.1 MB 13.1 MB/s eta 0:00:01
   -------------------------------------- - 15.3/16.1 MB 12.6 MB/s eta 0:00:01
   -------------------------------------- - 15.3/16.1 MB 11.9 MB/s eta 0:00:01
   -------------------------------------- - 15.4/16.1 MB 10.9 MB/s eta 0:00:01
   -------------------------------------- - 15.5/16.1 MB 10.4 MB/s eta 0:00:01
   -------------------------------------- - 15.5/16.1 MB 9.9 MB/s eta 0:00:01
   -------------------------------------- - 15.6/16.1 MB 9.6 MB/s eta 0:00:01
   ---------------------------------------  15.8/16.1 MB 9.4 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.1 MB 8.8 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.1 MB 8.6 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.1 MB 8.6 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.1 MB 8.6 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.1 MB 8.6 MB/s eta 0:00:01
   ---------------------------------------- 16.1/16.1 MB 7.2 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.2.0

In [1]:
### Create SQL Connection
import mysql.connector as sql

In [3]:
connection = sql.connect(
    host="localhost",
    user="root",
    password="12345"
)

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002EF720AC6D0>

## Creating Databases

In [4]:
cursor = connection.cursor()

cursor.execute("DROP DATABASE student")

In [5]:
cursor = connection.cursor()

cursor.execute("CREATE DATABASE student")

In [6]:
cursor.execute('SHOW DATABASES')

In [7]:
for database in cursor:
    print(database)

('company',)
('customer',)
('information_schema',)
('mysql',)
('parks_and_recreation',)
('performance_schema',)
('sakila',)
('student',)
('sys',)
('weena',)
('world',)
('world_layoffs',)

## Create Table in MySQL using Python

In [8]:
cursor = connection.cursor()
cursor.execute ('USE student')

In [9]:
cursor.execute("CREATE TABLE studentinfo (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), subject VARCHAR (255))")

## Insert Records in Table

In [10]:
query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"
value = ("John", "Stats")
cursor.execute(query,value)
connection.commit()
print("Row inserted", cursor.lastrowid)

Row inserted 1

In [12]:
# Fetch all the Data
cursor.execute("Select * from studentinfo")
cursor.fetchall()

[(1, 'John', 'Stats')]

In [13]:
# Insert multiple records in Table
query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"
values = [("Krish", "Stats"),
         ("Joe", "Maths"),
         ("Ankur", "Data Science"),
         ("Paul", "Data Science"),
         ("Vishal", "Maths"),
         ("Krish", "Data Science")]
cursor.executemany(query,values)
connection.commit()
print("Row inserted", cursor.lastrowid)

Row inserted 2

In [19]:
# Fetch all the Data
cursor = connection.cursor()
cursor.execute("Select * from studentinfo")
cursor.fetchall()

[(1, 'John', 'Stats'),
 (2, 'Krish', 'Stats'),
 (3, 'Joe', 'Maths'),
 (4, 'Ankur', 'Data Science'),
 (5, 'Paul', 'Data Science'),
 (6, 'Vishal', 'Maths'),
 (7, 'Krish', 'Data Science')]

In [35]:
cursor.execute("Select * from studentinfo")

In [32]:
## Fetch one record at a time
cursor.fetchone()

(1, 'John', 'Stats')

In [36]:
lst = cursor.fetchall()

In [37]:
for records in lst:
    print(records)

(1, 'John', 'Stats')
(2, 'Krish', 'Stats')
(3, 'Joe', 'Maths')
(4, 'Ankur', 'Data Science')
(5, 'Paul', 'Data Science')
(6, 'Vishal', 'Maths')
(7, 'Krish', 'Data Science')

## Select Particular Rows

In [38]:
cursor.execute("Select * from studentinfo where name='Krish'")

In [39]:
### Fetch all the data
cursor.fetchall()

[(2, 'Krish', 'Stats'), (7, 'Krish', 'Data Science')]

## Select Particular Columns

In [40]:
cursor.execute("Select subject from studentinfo")
cursor.fetchall()

[('Stats',),
 ('Stats',),
 ('Maths',),
 ('Data Science',),
 ('Data Science',),
 ('Maths',),
 ('Data Science',)]

In [41]:
## Select Distinct subjects
cursor.execute("SELECT DISTINCT subject from studentinfo")
cursor.fetchall()

[('Stats',), ('Maths',), ('Data Science',)]

## Multiple conditions

In [42]:
cursor.execute("SELECT name, subject FROM studentinfo WHERE name = 'Krish' OR subject = 'Data Science'")
cursor.fetchall()

[('Krish', 'Stats'),
 ('Ankur', 'Data Science'),
 ('Paul', 'Data Science'),
 ('Krish', 'Data Science')]

## Drop Table

In [ ]:
cursor.execute("DROP TABLE studentinfo")